# general
.DS_Store
.git/
.travis.yml
Dockerfile
Jenkinsfile
build/
*.swp
*.swo

# python
**/*.pyc
**/.benchmarks/
**/.coverage
**/.ipynb_checkpoints/
**/.mypy_cache/
**/.pytest_cache/
**/__pycache__/
*.egg-info/
.eggs/
.idea/
.direnv/
dist/
docs/_build/
htmlcov/
pip-wheel-metadata/
venv/
*.whl

# app (build context needs only the entrypoint)
README.md
app.yaml
ui_schemas/
example-config.yaml

# retain ignore files
!.*ignore
!build/datatype/
!build/app.yaml
